

body{
    height: 85vh;
    text-align: center;
}


p{
    border: 2px black solid;
    width: 8vh;
    min-height: 8vh;
    padding: 2vh 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

#myArr, #myArr2, #myArr3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#explanation{
    width: 70%;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-top: 10vh;
}


#explanation1{
    height: 7vh;
    font-size: 1.75rem;


}
#explanation2{
    height: 7vh;
}

#explanationExtra{
    width: 8vh;
    min-height: 8vh;
    padding: 2vh 0;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
}



#menu{
    width: 20vw;
    position: fixed;
    display: flex;
    flex-direction: column;

}

.col-1-5{
    width: 12.499999995%;
}

.w-10 {
    width: 10%;
}

.btn {
    height: 5vh;
    font-size: 17px;
    font-weight: 500;
}


@media (min-width: 1200px) and (max-width: 1400px){
    .btn{
        width: 13%;
    }
}

@media (max-width: 1200px) {
    #menu{
        position: absolute;
        left: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0 !important;
        
    }    
    .btn {
        height: 7vh;
    }
    #buttonDarkMode, #shellSort {
        margin-bottom: 0 !important;
    }

    #arr-len{
        display: none;
    }
    
    .sub-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #menu-name{
        display: none;
    }

}

@media (max-width:992px){
    .btn{
        width: 25%;
    }
    #myArr{
        flex-wrap: wrap;
    }
}


@media (max-width:567px) {
    #explanation1, #xplanation2, #explanationExtra{
        font-size: 1.25rem;
    }
    #explanationExtra{
        margin: auto;
    }
    #explanation{
        margin-bottom: 2.5rem !important;
    }
}